__pycache__/

asl_files/
xml_files/

asl/ASL.interp
asl/ASL.tokens
asl/ASLLexer.py
asl/ASLLexer.interp
asl/ASLLexer.tokens
asl/ASLListener.py
asl/ASLParser.py
asl/ASLVisitor.py

a32_encoding.json
t32_encoding.json

A32Recognizer.cpp
A32Recognizer.h
T32Recognizer.cpp
T32Recognizer.h
